<h1>Product list</h1>
<input type="button" value="Add" [routerLink]="['/products/new']" class="btn btn-primary" />
<div class="card card-body bg-light">
  <div class=" form-group ">
    <label for="category">Category</label>
    <select name="category" id="category" class="form-control" [(ngModel)]="filter.categoryId" (change)="onFilterChange()">
      <option value=""></option>
      <option *ngFor="let c of categories" value="{{c.id}}">{{c.name}}</option>
    </select>
    <div class="form-group">
      <label for="category" >Price from </label>
      <input type="number" [(ngModel)]="filter.PriceFrom" (blur)="onFilterChange()">
      <label for="category">Price to </label>
      <input  type="number"   [(ngModel)]="filter.PriceTo" (change)="onFilterChange()">
    </div>
    <button class="btn btn-primary" (click)="resetFilter()">Reset</button>
  </div>
</div>


<table *ngIf="tableMode; else create" class="table table-striped">
    <thead>
        <tr>
            <td>Category</td>
            <td>Name</td>
            <td>Description</td>
            <td>Price</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of products">
            <ng-template [ngIf]="product?.productId != p.productId" [ngIfElse]="edit">
                <td>{{p?.categoryName}}</td>
                <td>{{p?.name}}</td>
                <td>{{p?.description}}</td>
                <td>{{p?.price}}</td>
                <td>
                    <button class="btn btn-sm btn-primary" (click)="editProduct(p)">Edit</button>
                    <button class="btn btn-sm btn-danger" (click)="delete(p)">Delete</button>
                </td>
            </ng-template>
        </tr>
    </tbody>
</table>
 
<!--template for edit-->
<ng-template #edit>
  <td>
    <select id="category" class="form-control" (change)="onCatsChange()" [(ngModel)]="product.categoryId" name="cat" required #v="ngModel">
        <option value=""></option>
        <option *ngFor ="let c of categories"  value="{{c.id}}">{{c.name}}</option>
    </select>
    <div class="alert alert-danger" *ngIf="v.touched && !v.valid">You must select category!</div>
  </td>
    <td>
        <input type="text" [(ngModel)]="product.name" class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="product.description" class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="product.price" class="form-control" />
    </td>
    <td>
        <input type="button" value="Save" (click)="saveEdit()" class="btn btn-sm btn-success" />
        <input type="button" value="Cancel" (click)="cancel()" class="btn btn-sm btn-warning" />
    </td>
</ng-template>
 
<!--шаблон для добавления-->
<ng-template #create>
    <div class="form-group">
        <label>Модель</label>
        <input type="text" [(ngModel)]="product.name" class="form-control" />
    </div>
    <div class="form-group">
        <label>Description</label>
        <input type="text" [(ngModel)]="product.description" class="form-control" />
    </div>
    <div class="form-group">
        <label>Цена</label>
        <input type="text" [(ngModel)]="product.price" class="form-control" />
    </div>
    <div>
        <input type="button" value="Сохранить" (click)="saveEdit()" class="btn btn-success" />
        <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
    </div>
</ng-template>